<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
      integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./style/main.css" />
    <title>Dischi</title>
  </head>

  <body>
    <div id="app" v-cloak>
      <header>
        <div class="container">
          <div class="row">
            <div class="col-50">
              <h1>{{ title }} <i class="fa-solid fa-bolt"></i></h1>
            </div>
            <div class="col-50"></div>
          </div>
        </div>
      </header>
      <main>
        <div class="container">
          <!-- CARD CONTAINER -->
          <section v-if="!this.loading" class="card-container">
            <div
              v-for="disc in this.discs"
              class="card"
              @click="this.searchById(disc.id)"
            >
              <div class="poster">
                <img :src="disc.poster" :alt="disc.title" />
              </div>
              <div class="text-content">
                <div class="row">
                  <div class="col-70">
                    <h2>{{ disc.title }}</h2>
                    <h3>{{ disc.artist }}</h3>
                  </div>
                  <div class="card-text-right col-30">
                    <h3 class="d-inline">{{ disc.date }}</h3>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- /CARD CONTAINER -->
          <!-- INFO POPUP -->
          <section class="info-popup" v-show="this.showInfo">
            <div class="info-container">
              <div class="exit-cross" @click="this.closeInfo">
                <i class="fas fa-xmark"></i>
              </div>
              <div class="col-50">
                <div class="poster">
                  <img
                    :src="this.searchResult.poster"
                    :alt="this.searchResult.title"
                  />
                </div>
              </div>
              <div class="col-50 content-center-y">
                <div class="text-content">
                  <h2>Title : {{ this.searchResult.title }}</h2>
                  <h3>Artist : {{ this.searchResult.artist }}</h3>
                  <h3>Album : {{ this.searchResult.album }}</h3>
                  <h3>Year : {{ this.searchResult.date }}</h3>
                  <h3>
                    Plays : {{ this.getPlaysNum(this.searchResult.plays) }}
                  </h3>
                  <h3>
                    Duration : {{
                    this.getDuration(this.searchResult.durationSec) }}
                  </h3>
                </div>
              </div>
            </div>
          </section>
          <!-- /INFO POPUP -->
        </div>
      </main>
    </div>
    <script src="./js/main.js"></script>
  </body>
</html>
